{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <section class="u-bg-overlay g-bg-pos-top-center g-bg-img-hero g-py-100">
        <div class="container u-bg-overlay__inner">
            <div class="u-heading-v1-1 g-bg-main g-brd-primary g-mb-20">
                <h1 class="h1 text-center u-heading-v1__title">Entrar</h1>
            </div>
            {% if form.non_field_errors %}
                <div class="campo-erros-rf alert alert-warning">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="row justify-content-center align-items-center no-gutters">
                <div class="col-lg-5 g-bg-teal g-rounded-left-5--lg-up">
                    <div class="g-pa-50">
                        <form class="g-py-15" action="{% url 'conta:login' %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <h2 class="h3 g-color-white mb-4">Login</h2>
                            <div class="mb-4">
                                <div class="input-group">
                    <span class="input-group-addon g-width-45 g-brd-white g-color-white">
                        <i class="icon-finance-067 u-line-icon-pro"></i>
                      </span>
                                    <input class="form-control g-color-black g-brd-left-none g-brd-white g-bg-transparent g-color-white g-placeholder-white g-pl-0 g-pr-15 g-py-13"
                                           type="text" name="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="g-mb-40">
                                <div class="input-group rounded">
                    <span class="input-group-addon g-width-45 g-brd-white g-color-white">
                          <i class="icon-communication-062 u-line-icon-pro"></i>
                        </span>
                                    <input class="form-control g-color-black g-brd-left-none g-brd-white g-bg-transparent g-color-white g-placeholder-white g-pl-0 g-pr-15 g-py-13"
                                           type="password" name="password" placeholder="password">
                                </div>
                            </div>
                            <div class="g-mb-60">
                                <button class="btn btn-md btn-block u-btn-white rounded text-uppercase g-py-13"
                                        type="submit">Login
                                </button>
                            </div>
                            <div class="text-center g-pos-rel pb-2 g-mb-60">
                                <a href="{% url 'conta:senha_reset' %}"
                                   class="btn btn-md btn-block u-btn-white rounded text-uppercase g-py-13">Esqueceu a
                                    Senha?</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-5 g-bg-aqua g-rounded-right-5--lg-up">
                    <div class="g-pa-50">
                        <form class="g-py-15" action="{% url 'conta:cadastre' %}" method="post">
                            {% csrf_token %}
                            <h2 class="h3 g-color-white mb-4">Cadastrar</h2>
                            <div class="mb-4">
                                <div class="input-group rounded">
                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                          <i class="icon-communication-128 u-line-icon-pro"></i>
                        </span>
                                    <input class="form-control g-color-black g-brd-left-none g-brd-white g-bg-transparent g-color-white g-placeholder-white  g-pl-0 g-pr-15 g-py-13"
                                           type="username" name="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input-group rounded">
                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                          <i class="icon-finance-067 u-line-icon-pro"></i>
                        </span>
                                    <input class="form-control g-color-black g-brd-left-none g-brd-white g-bg-transparent g-color-white g-placeholder-white g-pl-0 g-pr-15 g-py-13"
                                           type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input-group rounded">
                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                          <i class="icon-communication-062 u-line-icon-pro"></i>
                        </span>
                                    <input class="form-control g-color-black g-brd-left-none g-brd-white g-bg-transparent g-color-white g-placeholder-white g-pl-0 g-pr-15 g-py-13"
                                           type="password" name="password1" placeholder="Senha">
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input-group rounded">
                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                          <i class="icon-media-094 u-line-icon-pro"></i>
                        </span>
                                    <input class="form-control g-color-black g-brd-left-none g-brd-white g-bg-transparent g-color-white g-placeholder-white g-pl-0 g-pr-15 g-py-13"
                                           type="password" name="password2" placeholder="Confirmar Senha">
                                </div>
                            </div>
                            <button class="btn btn-md btn-block u-btn-white rounded text-uppercase g-py-13"
                                    type="submit">
                                Registrar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
