{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="shortcode-html">
        <!-- Banners -->
        <div class="row align-items-stretch">
            <div class="col-lg-12 g-mb-30">
                <!-- Article -->
                <article class="text-center g-color-white g-overflow-hidden">
                    <div class="u-block-hover--scale g-min-height-200 g-flex-middle g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after g-transition-0_5"
                         data-bg-img-src="{% static 'assets/img/star-sky.jpg' %}"
                         style="background-image: url({% static 'assets/img/star-sky.jpg' %});">
                        <div class="g-flex-middle-item g-pos-rel g-z-index-1 g-py-50 g-px-20">
                            <h3 class="text-uppercase">Descanse e Deixe os <span class="g-font-weight-700"> Robôs Trabalharem </span>por
                                Você
                            </h3>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 g-mb-50">
            <aside class="g-brd-around g-brd-gray-light-v4 rounded g-px-20 g-py-30">
                <ul class="list-unstyled mb-0">
                    <li class="g-pb-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                           href="{% url 'conta:index' %}">
                                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                                        class="icon-finance-059 u-line-icon-pro"></i></span>
                            Minha Conta
                        </a>
                    </li>
                    <li class="g-py-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                           href="{% url 'conta:robos' %}">
                                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                                        class="icon-finance-114 u-line-icon-pro"></i></span>
                            Meus Robos
                        </a>
                    </li>
                    <li class="g-py-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                           href="{% url 'conta:editar' %}">
                                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                                        class="icon-finance-115 u-line-icon-pro"></i></span>
                            Editar Conta
                        </a>
                    </li>
                    <li class="g-py-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                           href="{% url 'conta:editar-senha' %}">
                                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                                        class="icon-finance-113 u-line-icon-pro"></i></span>
                            Alterar Senha
                        </a>
                    </li>
                    <li class="g-py-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                           href="{% url 'conta:logout' %}">
                                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                                        class="icon-medical-022 u-line-icon-pro"></i></span>
                            Sair
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-lg-9 g-mb-50">
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
                {% block dashboard_content %}
                    <div class="row">
                        <div class="col-8">
                            <span class="g-color-text g-font-size-13 mb-1"><strong>Nome:</strong></span> <span
                                class="">{{ user }}</span>
                        </div>
                    </div>

                    <hr class="g-brd-gray-light-v4 g-my-20">

                    <div class="row">
                        <div class="col-8">
                            <span class="g-color-text g-font-size-13 mb-1"><strong>Email:</strong></span> <span
                                class="">{{ user.email }}</span>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
