{% extends 'core/base.html' %}

{% block content %}
    <section class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5">
                {% if success %}
                    <div class="alert alert-success">
                        <p>Um e-mail foi enviando para você com mais detalhes de como criar uma nova senha</p>
                    </div>
                {% else %}
                    <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                        <header class="text-center mb-4">
                            <h1 class="h4 g-color-black g-font-weight-400">Esqueceu a senha?</h1>
                            <p>Digite o seu e-mail para resetar sua senha.</p>
                        </header>
                        {% if form.email.errors %}
                            <div class="alert alert-warning">
                                <p>{{ form.email.errors }}</p>
                            </div>
                        {% endif %}
                        <!-- Form -->
                        <form class="g-py-15" method="post">
                            {% csrf_token %}
                            <div class="mb-4">
                                <div class="input-group g-rounded-left-5">
                    <span class="input-group-addon g-width-45 g-brd-gray-light-v3 g-color-gray-dark-v5">
                      <i class="icon-finance-067 u-line-icon-pro"></i>
                    </span>
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-5 g-py-15 g-px-15"
                                           type="email" name="email" placeholder="Email Adress">
                                </div>
                            </div>

                            <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25"
                                    type="submit">Nova Senha
                            </button>
                        </form>
                    </div>

                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}