<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MammonTrading</title>
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/unify-core.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/unify-components.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/unify-globals.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>
<body>
<main>
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance"
            data-header-fix-moment="300">
        <div class="u-header__section u-header__section--dark g-bg-black g-transition-0_3 g-py-10"
             data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="g-py-0">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
                            type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                            data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
                    </button>
                    <a href="{% url 'core:home' %}" class="navbar-brand">
                        MammonTrading
                    </a>
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                        <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'core:home' %}" class="nav-link px-0">Home</a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'robo:index' %}" class="nav-link px-0">Robôs</a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'conteudo:video.index' %}" class="nav-link px-0">Videos</a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'conteudo:artigo.index' %}" class="nav-link px-0">Artigos</a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="{% url 'core:contato' %}" class="nav-link px-0">Fale Conosco</a>
                            </li>
                            <li class="nav-item g-ml-20--lg g-mr-0--lg">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'conta:index' %}" class="nav-link px-0">Minha Conta</a>
                                {% else %}
                                    <a href="{% url 'conta:login' %}" class="nav-link px-0">Entrar</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container g-py-200 ">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                    <div class="d-lg-flex">
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2017 © All Rights
                            Reserved.
                        </small>
                        <ul class="u-list-inline">
                            <li class="list-inline-item">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Privacy
                                    Policy</a>
                            </li>
                            <li class="list-inline-item">
                                <span>|</span>
                            </li>
                            <li class="list-inline-item">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Terms of Use</a>
                            </li>
                            <li class="list-inline-item">
                                <span>|</span>
                            </li>
                            <li class="list-inline-item">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">License</a>
                            </li>
                            <li class="list-inline-item">
                                <span>|</span>
                            </li>
                            <li class="list-inline-item">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</main>
</body>
</html>
