{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="my-4">Robos
                <small>robos</small>
            </h1>
            <hr>
            {% for robo in object_list %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        {% if robo.imagem %}
                            <img class="card-img-top" width="284" height="177" src="{{ robo.imagem.url }}" alt="{{ robo.nome }}">
                        {% else %}
                            <a href="#"><img class="card-img-top" src="{% static 'assets/img/desk.jpg' %}"
                                             alt="{{ robo.nome }}"></a>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ robo.get_absolute_url }}">{{ robo.nome }}</a>
                            </h4>
                            <h5>{{ robo.preco }}</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
